.example-card {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

.mat-card {
    background-color: #edf6f9;
}

.inputField {
    width: 100%;
}

.inputButton {
    margin-left: 50px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}