<app-header></app-header>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="../../assets/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In to <strong>iMatt</strong></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                        </div>
                        <form [formGroup]="loginForm">
                            <mat-form-field appearance="outline" class="inputField">
                                <mat-label>Enter Experiment ID</mat-label>
                                <input type="text" matInput placeholder="EC-0001" formControlName="email" required>
                                <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailError()}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="inputField">
                                <mat-label>Enter your password</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordError()}}</mat-error>
                            </mat-form-field>

                            <input type="submit" value="Log In" class="btn text-white btn-block btn-primary" (click)="login()">
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>