<!-- <app-header></app-header> -->
<div class="styleCrads">
    <h3>Your Game Scores</h3>
    <p #timer> Time Left : <span><countdown style="font-weight: bold;" [config]="{leftTime: timeForTotalGame}" (event)="totalTimeEvent($event)"></countdown></span></p>
    <app-my-overlay [connectedTo]="timer" text="We can also use it on text." id="3"></app-my-overlay>
    <div class="row">
        <div class="col-2">
            <p>Attempt Number : 3</p>
        </div>
        <div class="col-2">
            <p>Total wins : 2</p>
        </div>
        <div class="col-2">
            <p>Won percentage : 11%</p>
        </div>
        <div class="col-2">
            <p>Performance goal : 21</p>
        </div>
        <div class="col-2">
            <p>Score of bust : 21</p>
        </div>
    </div>




</div>

<div class="home-wrap">
    <div class="row">
        <div class="row col-2 dealerRow" #dealerCards>
            <div class="col-1" *ngFor="let card of dealer[0]">
                <img [src]="card">
            </div>
        </div>
        <app-my-overlay [connectedTo]="dealerCards" text="We can also use it on text." id="1"></app-my-overlay>
        <div class="col-2">

        </div>
        <div class="col-4" style="margin-top: 100px;">
            <mat-card class="example-card mat-elevation-z12" hidden>

                <mat-card-content #scoreCard>
                    <h3>Your Game Scores</h3>
                    <p #timer> Time Left : <span><countdown style="font-weight: bold;" [config]="{leftTime: timeForTotalGame}" (event)="totalTimeEvent($event)"></countdown></span></p>
                    <app-my-overlay [connectedTo]="timer" text="We can also use it on text." id="3"></app-my-overlay>

                    <p>Attempt Number : 3</p>
                    <p>Total wins : 2</p>
                    <p>Winning percentage : 55%</p>
                    <p>Performance goal : 21</p>
                    <p>Score of bust : 21</p>
                    <!-- <button mat-button (click)="openDialog()"> Click</button> -->

                </mat-card-content>
                <app-my-overlay [connectedTo]="scoreCard" text="We can also use it on text." id="2"></app-my-overlay>
            </mat-card>

        </div>
        <div class="col-2">

        </div>

        <div class="col-2 deck">
            <div>
                <img #deck src="../../assets/cards/BACKY.png" style="margin-right: 20px;">
                <app-my-overlay [connectedTo]="deck" text="We can also use it on text." id="4"></app-my-overlay>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-6">
                    <button #standButton mat-raised-button style="background-color: #fae1dd;">STAND</button>
                    <app-my-overlay [connectedTo]="standButton" text="We can also use it on text." id="5"></app-my-overlay>

                </div>
                <div class="col-6">
                    <button #hitButton mat-raised-button style="background-color: #fae1dd;" (click)="addCard()">HIT</button>
                    <app-my-overlay [connectedTo]="hitButton" text="We can also use it on text." id="6"></app-my-overlay>
                </div>
            </div>
        </div>
    </div>


    <div class="row col-10 firstRow" #playerDeck>
        <div class="col-1" *ngFor="let card of player[0]">
            <img [src]="card">
        </div>
        <app-my-overlay [connectedTo]="playerDeck" text="We can also use it on text." id="7"></app-my-overlay>

    </div>

    <div class="row col-10 secondRow" *ngIf="totalCardsofPlayer > 10">
        <div class="col-1" *ngFor="let card of player[1]">
            <img [src]="card">
        </div>
    </div>
    <div class="row col-10 thirdRow" *ngIf="totalCardsofPlayer > 20">
        <div class="col-1" *ngFor="let card of player[2]">
            <img [src]="card">
        </div>
    </div>

</div>